build/
.cmake-build-release/
.cmake-build-debug/
cmake-build-release/
cmake-build-debug/
.idea/
data/test_trace/*
*.data
*.dev
*.hash
data/real
.vscode
*.tar
rw*.txt
*.gz
.build/
data/*
.build
0.evaluation/*
0.evaluation/*/*
.cache
.bak
bak
4.data/*
3.tools
bin
2.traces/*
bin/*
sample/*
paper_evaluaiton
tmp_evaluation
.cache
.bin